# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env

#uv
uv.lock

#mac
.DS_Store

#python 
venv/

#node
node_modules/

#vscode
.vscode/

#windows
*.log
*.log.*
*.log.*.*
*.log.*.*.*

#mac
.DS_Store

#mac
.DS_Store

#crew
crew/

